<!-- template driven form -->
<form (ngSubmit)='onSubmit(signinForm.value)' #signinForm="ngForm">
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" [(ngModel)]="username" required class="form-control col-md-4"
            #name="ngModel" />
        <br />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" [(ngModel)]="password" required minlength="6"
            class="form-control col-md-4" #passwd="ngModel" />
        <br />
        <div *ngIf="passwd.invalid && (passwd.dirty || passwd.touched)" class="alert alert-danger">
            <div *ngIf="passwd.errors.required">
                Password is required.
      </div>
            <div *ngIf="passwd.errors.minlength">
                Password must be at least 6 characters long.
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type='submit' value="Login" [disabled]="!signinForm.valid" class="btn btn-primary" />
    </div>
</form>
